body {
   background-color: #0b1826;
   margin: 0;
   padding: 0;
}
span {
   color: transparent;
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   font-size: 150px;
   font-family: "Times New Roman", serif;
   letter-spacing: 5px;
   background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
   );
   -webkit-background-clip: text;
}

@media (max-width: 767px) {
   span {
      font-size: 65px;
   }
}
