body {
   margin: 0;
   padding: 0;
   background-color: #ececec;
}
.radio-btn-wrap {
   width: 480px;
   height: 100px;
   box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12);
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 50px;
}
input[type="radio"] {
   display: none;
}
label {
   font-family: "Poppins", sans-serif;
   font-size: 27px;
   font-weight: 600;
   padding: 15px 35px;
   color: #303030;
   border-radius: 35px;
}
input[type="radio"]:checked + label {
   box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
